[submodule "httpaf-eio/httpaf"]
	path = httpaf-eio/vendor/httpaf
	url = https://github.com/talex5/httpaf.git
	branch = eio
[submodule "httpaf-eio/angstrom"]
	path = httpaf-eio/vendor/angstrom
	url = https://github.com/talex5/angstrom.git
  branch = effects
[submodule "cohttp-eio/ocaml-cohttp"]
	path = cohttp-eio/vendor/ocaml-cohttp
  url = https://github.com/mirage/ocaml-cohttp.git
	branch = master
