[submodule "httpaf-eio/httpaf"]
	path = httpaf-eio/vendor/httpaf
	url = https://github.com/talex5/httpaf.git
[submodule "httpaf-eio/angstrom"]
	path = httpaf-eio/vendor/angstrom
	url = https://github.com/talex5/angstrom.git
