[submodule "httpaf-eio/eio"]
	path = httpaf-eio/vendor/eio
	url = https://github.com/talex5/eio.git
[submodule "httpaf-eio/httpaf"]
	path = httpaf-eio/vendor/httpaf
	url = https://github.com/talex5/httpaf.git
[submodule "httpaf-eio/angstrom"]
	path = httpaf-eio/vendor/angstrom
	url = https://github.com/talex5/angstrom.git
[submodule "cohttp-eio/eio"]
	path = cohttp-eio/vendor/eio
	url = git@github.com:ocaml-multicore/eio.git
[submodule "cohttp-eio/ocaml-cohttp"]
	path = cohttp-eio/vendor/ocaml-cohttp
	url = git@github.com:bikallem/ocaml-cohttp.git
	branch = eio-3-parser
